@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-color-primary: #333;
  --font-color-secondary: #555;
  --font-color-accent: #f30000;
}




@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
}


nav a {
  padding: 10px;
}
.container{
  margin: 20px auto;
  max-width: 1200px;
}

.pagination {
  text-align: center;
}
h1{
  margin: 20px auto;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

 h2{
  margin: 20px auto;
  font-size: 20px;
  font-weight: bold;
}